*{
    padding: 0;margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
.heading{
    font-size: 5rem;
}
body{
    background: #5256AD;
    width: 100%;
    
}
.heading{
    text-align: center;
    font-size: 5rem;
    margin: 3rem 0;
    color: #fff;
}
.main{
    display: flex;
    align-items: center;
    justify-content: center;
}
.main input{
    outline: none;
    border: none;
    height: 5rem;
    font-size: 2rem;
    width: 50%;
    padding: 0 .5rem;
    padding-left: 1rem;
    border-radius: .5rem;
    margin-right: 2rem;
}
.main button,.item .btns button{
    outline: none;
    border: none;
    height: 3rem;
    border-radius: .5rem;
    font-size: 2rem;
    padding: 0 2rem;
    cursor: pointer;
    margin-left: 2rem;
    display: flex;
    align-items: center;
    background: #030311;
    color: #fff;
}
.main button:hover,.item .btns button:hover{
    background: #5a5ae4;
    color: rgb(32, 20, 20);
}

.items{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 3rem;
    background: #b2b4d4;
    width: 80%;
    border-radius: .5rem;
    padding: 2rem;
}
.item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: .1rem solid #999;
    border-radius: 1rem;
    padding: .5rem 1rem;
    margin-top: 1rem;
}
.item p{
    font-size: 2rem;
    word-break: break-all;
}
.item .btns{
    display: flex;
    flex-direction: row;
    margin-left: 2rem;
}
/* .item .btns button{
    padding: .5rem;
    font-size: 2rem;
    margin: .5rem;
    border-radius: .5rem;
} */